site_name: open consilium docs
theme:
  name: material
  features:
    - navigation.tabs
extra_css:
  - stylesheets/api.css
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - tables
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format